# **ðŸ“Š Business Sales Dashboard from E-commerce Data**

## **1. Business Understanding**

In this project I will work with e-commerce sales data to build a professional, interactive dashboard. The goal is to help business owners and decision-makers understand:

 - What are the best-selling products?
 - When do sales peak during the year?
 - Which categories or regions bring the most revenue?
 
 I will also work with Power BI and Excel to make interactive dashboards.

## **2.Data Understanding**

The Data is sourced from a kaggle(ðŸ›’ E-commerce Sales Data (Kaggle)).The data is comprised of 3 files(2 csv and 1 xlsx).

In [7]:
#import necessary libraries
import pandas as pd 
import numpy as np

In [8]:
#%pip install --upgrade openpyxl

In [9]:
# Load the dataset
df1 = pd.read_csv(r'C:\Users\JUDAH\Desktop\Task 1\FUTURE_DS_01\Data\Year 2009-2010.csv' , encoding='latin1')
df2 = pd.read_csv(r'C:\Users\JUDAH\Desktop\Task 1\FUTURE_DS_01\Data\Year 2010-2011.csv', encoding='latin1')

In [10]:
# Check the first few rows of each dataframe
print("First few rows of df1:")
print(df1.head())

print("\nFirst few rows of df2:")   
print(df2.head())

First few rows of df1:

  Invoice StockCode                          Description  Quantity  \
0  489434     85048  15CM CHRISTMAS GLASS BALL 20 LIGHTS        12
1  489434    79323P                   PINK CHERRY LIGHTS        12
2  489434    79323W                  WHITE CHERRY LIGHTS        12
3  489434     22041         RECORD FRAME 7" SINGLE SIZE         48
4  489434     21232       STRAWBERRY CERAMIC TRINKET BOX        24

      InvoiceDate  Price  Customer ID         Country
0  12/1/2009 7:45   6.95      13085.0  United Kingdom
1  12/1/2009 7:45   6.75      13085.0  United Kingdom
2  12/1/2009 7:45   6.75      13085.0  United Kingdom
3  12/1/2009 7:45   2.10      13085.0  United Kingdom
4  12/1/2009 7:45   1.25      13085.0  United Kingdom

First few rows of df2:
  Invoice StockCode                          Description  Quantity  \
0  536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1  536365     71053                  WHITE METAL LANTERN         6
2  536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3  536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4  536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

      InvoiceDate  Price  Customer ID         Country
0  12/1/2010 8:26   2.55      17850.0  United Kingdom
1  12/1/2010 8:26   3.39      17850.0  United Kingdom
2  12/1/2010 8:26   2.75      17850.0  United Kingdom
3  12/1/2010 8:26   3.39      17850.0  United Kingdom
4  12/1/2010 8:26   3.39      17850.0  United Kingdom

In [11]:
# Check the shape of each dataframe
print("\nShape of df1:", df1.shape)
print("Shape of df2:", df2.shape)

Shape of df1: (525461, 8)
Shape of df2: (541910, 8)

In [12]:
# check for missing values
print("\nMissing values in df1:\n", df1.isnull().sum())
print("\nMissing values in df2:\n", df2.isnull().sum())

Missing values in df1:
 Invoice             0
StockCode           0
Description      2928
Quantity            0
InvoiceDate         0
Price               0
Customer ID    107927
Country             0
dtype: int64

Missing values in df2:
 Invoice             0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135080
Country             0
dtype: int64

In [13]:
#Check discriptive statistics
print("\nDescriptive statistics for df1:\n", df1.describe(include='all'))
print("\nDescriptive statistics for df2:\n", df2.describe(include='all'))

Descriptive statistics for df1:
        Invoice StockCode                         Description       Quantity  \
count   525461    525461                              522533  525461.000000
unique   28816      4632                                4681            NaN
top     537434    85123A  WHITE HANGING HEART T-LIGHT HOLDER            NaN
freq       675      3516                                3549            NaN
mean       NaN       NaN                                 NaN      10.337667
std        NaN       NaN                                 NaN     107.424110
min        NaN       NaN                                 NaN   -9600.000000
25%        NaN       NaN                                 NaN       1.000000
50%        NaN       NaN                                 NaN       3.000000
75%        NaN       NaN                                 NaN      10.000000
max        NaN       NaN                                 NaN   19152.000000

            InvoiceDate          Price    Customer ID         Country
count            525461  525461.000000  417534.000000          525461
unique            25296            NaN            NaN              40
top     12/6/2010 16:57            NaN            NaN  United Kingdom
freq                675            NaN            NaN          485852
mean                NaN       4.688834   15360.645478             NaN
std                 NaN     146.126914    1680.811316             NaN
min                 NaN  -53594.360000   12346.000000             NaN
25%                 NaN       1.250000   13983.000000             NaN
50%                 NaN       2.100000   15311.000000             NaN
75%                 NaN       4.210000   16799.000000             NaN
max                 NaN   25111.090000   18287.000000             NaN

Descriptive statistics for df2:
        Invoice StockCode                         Description       Quantity  \
count   541910    541910                              540456  541910.000000
unique   25900      4070                                4223            NaN
top     573585    85123A  WHITE HANGING HEART T-LIGHT HOLDER            NaN
freq      1114      2313                                2369            NaN
mean       NaN       NaN                                 NaN       9.552234
std        NaN       NaN                                 NaN     218.080957
min        NaN       NaN                                 NaN  -80995.000000
25%        NaN       NaN                                 NaN       1.000000
50%        NaN       NaN                                 NaN       3.000000
75%        NaN       NaN                                 NaN      10.000000
max        NaN       NaN                                 NaN   80995.000000

             InvoiceDate          Price    Customer ID         Country
count             541910  541910.000000  406830.000000          541910
unique             23260            NaN            NaN              38
top     10/31/2011 14:41            NaN            NaN  United Kingdom
freq                1114            NaN            NaN          495478
mean                 NaN       4.611138   15287.684160             NaN
std                  NaN      96.759765    1713.603074             NaN
min                  NaN  -11062.060000   12346.000000             NaN
25%                  NaN       1.250000   13953.000000             NaN
50%                  NaN       2.080000   15152.000000             NaN
75%                  NaN       4.130000   16791.000000             NaN
max                  NaN   38970.000000   18287.000000             NaN

## **3.Data Preparation**

In [14]:
# Clean missing values in df1
df_cleaned1 = df1.dropna(subset=['Customer ID'])
df_cleaned1['Description'] = df_cleaned1['Description'].str.strip()

<ipython-input-14-702de1faf085>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned1['Description'] = df_cleaned1['Description'].str.strip()

In [15]:
# Check missing values after cleaning
print("\nMissing values in cleaned df1:\n", df_cleaned1.isnull().sum())

Missing values in cleaned df1:
 Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [16]:
# Check shape after cleaning
print("\nShape of cleaned df1:", df_cleaned1.shape)

Shape of cleaned df1: (417534, 8)

In [17]:
# Clean missing values in df2
df_cleaned2 = df2.dropna(subset=['Customer ID'])
df_cleaned2['Description'] = df_cleaned2['Description'].str.strip()

<ipython-input-17-489fe59822df>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned2['Description'] = df_cleaned2['Description'].str.strip()

In [18]:
# Check for missing values after cleaning
print("\nMissing values in cleaned df2:\n", df_cleaned2.isnull().sum())

Missing values in cleaned df2:
 Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [19]:
# Check shape after cleaning
print("\nShape of cleaned df1:", df_cleaned1.shape)

Shape of cleaned df1: (417534, 8)

In [20]:
# Check for duplicates
print("\nNumber of duplicate rows in df1:", df1.duplicated().sum()) 
print("Number of duplicate rows in df2:", df2.duplicated().sum())

Number of duplicate rows in df1: 6865
Number of duplicate rows in df2: 5268

In [21]:
# Drop duplicates if any
df_cleaned1 = df_cleaned1.drop_duplicates()
df_cleaned2 = df_cleaned2.drop_duplicates()

In [22]:
# Change the dateformat for df1 and df2
df_cleaned1['InvoiceDate'] = pd.to_datetime(df_cleaned1['InvoiceDate'], format='%m/%d/%Y %H:%M',errors='coerce')
df_cleaned2['InvoiceDate'] = pd.to_datetime(df_cleaned2['InvoiceDate'], format='%m/%d/%Y %H:%M',errors='coerce')

In [23]:
# Merge the two datasets df1 and df2
merged_df = pd.concat([df_cleaned1, df_cleaned2], ignore_index=True)
print("\nShape of merged df:", merged_df.shape)

Shape of merged df: (812368, 8)

In [24]:
# Check for duplictes in merged df
print("\nNumber of duplicate rows in merged df:", merged_df.duplicated().sum())

Number of duplicate rows in merged df: 14483

In [25]:
# Drop the duplicates
merged_df = merged_df.drop_duplicates()
print("\nShape of merged df after dropping duplicates:", merged_df.shape)

Shape of merged df after dropping duplicates: (797885, 8)

Now that the data is cleaned and organised is i shall proceed to save the new cleaned dataframes.

In [26]:
# Save cleaned dataframes to new files
df_cleaned1.to_csv(r'C:\Users\JUDAH\Desktop\Task 1\FUTURE_DS_01\Data\Cleaned_Year_2009-2010.csv', index=False)
df_cleaned2.to_csv(r'C:\Users\JUDAH\Desktop\Task 1\FUTURE_DS_01\Data\Cleaned_Year_2010-2011.csv', index=False)
merged_df.to_csv(r'C:\Users\JUDAH\Desktop\Task 1\FUTURE_DS_01\Data\Merged_Cleaned_2009-2011.csv', index=False)

Now that we have our cleaned data we can proceed to Power BI to create interactive dashboards and to see the relationships between different components of the cleaned tables.